<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS, javaScript, Node, Express" />
    <meta name="author" content="sinan goknur" />
    <title>HAM Sandbox</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: black;
      }

      a:link,
      a:visited,
      a:active,
      a:hover,
      a:focus {
        text-decoration: none;
      }

      #artGrid {
        display: flex;
        flex-wrap: wrap;
      }
      .art_img {
        /*margin: 1px;*/
        display: block;
        position: relative;
      }
      .art_img:hover {
        /*outline: 1px solid lightgoldenrodyellow;*/
        outline: 2px solid gray;

        /* in order: x offset, y offset, blur size, spread size, color */
        /* blur size and spread size are optional (they default to 0) */
        box-shadow: 0px 0px 8px 15px lightgoldenrodyellow;

        /*this is so that the outline is not obscured by the next element*/
        z-index: 3000;
      }
    </style>

    <!-- BOOTSRAP 5 -->
    <!-- Latest compiled and minified CSS -->
    <!--link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    /-->

    <!-- Latest compiled JavaScript -->
    <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>-->

    <!-- my css-->
    <!--<link href="css/main.css" rel="stylesheet">-->
  </head>
  <body>
    <div id="artGrid">
      <% for(let i=0; i <urlArray.length; i++) { %>
      <a href=""
        ><img
          class="art_img"
          id="<%= objIDs[i] %>"
          src="<%= urlArray[i] %>"
          onError="this.parentNode.style.display='none'"
      /></a>
      <% } %>
    </div>
    <script></script>
  </body>
</html>
